<div class="container">
  <div class="row">

    <%= render 'list', user: @user %>

    <div class="col-md-8 offset-md-1">

      <h2>Book detail</h2>

      <table class="table">
        <tbody>
          <tr>
            <td>
              <%= link_to user_path(@book.user) do %>
                <%= image_tag @book.user.get_profile_image %>
              <br>
              <%= @book.user.name %>
              <% end %>
            </td>
            <td>
              <%= link_to @book.title, book_path %>
            </td>
            <td>
              <%= @book.body %>
            </td>
            <% if @book.user_id == current_user.id %>
              <td><%= link_to 'Edit', edit_book_path(@book), class:"btn btn-sm btn-success" %></td>
              <td><%= link_to 'Destroy', book_path(@book), class:"btn btn-sm btn-danger", method: :delete %></td>
            <% end %>
          </tr>
        </tbody>
      </table>

    </div>

  </div>
</div>
